* {
    box-sizing: border-box;
}

:root {
    --text-color: rgb(31, 215, 96);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1.25rem;
    color: white;
}

.foresz {
    display: inline-flex;
    justify-content: space-around;
}

.main {
    height: 100vh;
    margin-left: 40rem;
    margin-top: 19rem;
    margin-bottom: 5rem;
    width: 100vw;
}

.main h2 {
    color: white;
    font-size: 30px;
}

.card {
    background: #181818;
    padding: 0.938rem;
    border-radius: 8px;
    transition: 0.3s;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin: 1.25rem;
}

.card h4 {
    font-size: 20px;
    color: white;
}

.card p {
    color: #b3b3b3;
    font-size: 15px;
}

.card img {
    height: 8.313rem;
    width: 8.313rem;
    border-radius: 8px;
}

.card:hover {
    .play-btn {
        opacity: 100%;
        transition: ease 0.8s;
    }

}

.play-btn {
    width: 2.375rem;
    height: 2.375rem;
    background-color: #2ecc71;
    /* zöld */
    border: none;
    border-radius: 50%;
    /* kerek */
    color: black;
    font-size: 20px;
    cursor: pointer;
    opacity: 0%;
    position: absolute;
    bottom: 4.5rem;
    left: 77%;
    padding-left: 0.188rem;
    padding-bottom: 0.125rem;
    transform: translateX(-50%);
}

.logout {
    background-color: var(--text-color);
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: ease 0.2s;
    height: 2.5rem;
    font-weight: bold;
    margin: 5px;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: black;
    padding: 0.938rem 1.875rem;
    display: flex;
    height: 5.313rem;
    z-index: 1;
}